In [1]:
import pandas as pd
from pykrx import stock

In [2]:
target_date = '20230213'

In [3]:
"""
코스피 상장 주식 펀더멘탈 정보 읽어 오기
'"""
df_f = stock.get_market_fundamental_by_ticker(target_date, market='KOSPI')

In [7]:
df_f

          BPS    PER   PBR   EPS   DIV   DPS
티커
095570   8075   3.11  0.66  1707  5.08   270
006840  45961   0.00  0.39     0  1.12   200
027410  16393   6.59  0.28   684  2.44   110
282330  46849  21.63  3.95  8547  1.62  3000
138930  28745   3.01  0.24  2341  7.95   560
...       ...    ...   ...   ...   ...   ...
005010  14549   7.19  0.44   898  2.48   160
000540  10599   4.06  0.33   873  0.00     0
000547      0   0.00  0.00     0  0.00     0
000545      0   0.00  0.00     0  0.00     0
003280    428  12.81  3.53   118  0.00     0

[916 rows x 6 columns]

In [9]:
"""
PER 0 이하 제거
"""
df_f.drop(df_f[df_f.PER <= 0].index, inplace=True)

In [12]:
df_f.drop(df_f[df_f.PBR <= 0].index, inplace=True)

In [13]:
df_f

           BPS    PER   PBR    EPS   DIV   DPS
티커
095570    8075   3.11  0.66   1707  5.08   270
027410   16393   6.59  0.28    684  2.44   110
282330   46849  21.63  3.95   8547  1.62  3000
138930   28745   3.01  0.24   2341  7.95   560
001460  577324  10.85  0.67  35764  0.39  1500
...        ...    ...   ...    ...   ...   ...
005870   10174   6.31  0.62    994  0.00     0
079980   14188  44.82  0.35    111  6.03   300
005010   14549   7.19  0.44    898  2.48   160
000540   10599   4.06  0.33    873  0.00     0
003280     428  12.81  3.53    118  0.00     0

[633 rows x 6 columns]

In [14]:
"""
통계 정보 보기
"""
df_f.describe()

,BPS,PER,PBR,EPS,DIV,DPS
count,6.330000e+02,633.000000,633.000000,633.000000,633.000000,633.000000
mean,6.359426e+04,30.581611,1.132180,6439.862559,2.452543,1006.263823
std,2.168915e+05,276.460488,1.416267,19803.446609,2.342692,2778.423233
min,4.280000e+02,0.310000,0.140000,2.000000,0.000000,0.000000
25%,7.686000e+03,4.970000,0.440000,467.000000,0.640000,50.000000
50%,1.905500e+04,9.160000,0.700000,1548.000000,1.930000,280.000000
75%,5.755000e+04,16.760000,1.260000,5749.000000,3.600000,900.000000
max,4.626787e+06,6910.000000,13.110000,377488.000000,13.580000,50000.000000

In [15]:
df = df_f

In [16]:
df['PER*PBR'] = df.PER * df.PBR

In [17]:
df

           BPS    PER   PBR    EPS   DIV   DPS  PER*PBR
티커
095570    8075   3.11  0.66   1707  5.08   270   2.0526
027410   16393   6.59  0.28    684  2.44   110   1.8452
282330   46849  21.63  3.95   8547  1.62  3000  85.4385
138930   28745   3.01  0.24   2341  7.95   560   0.7224
001460  577324  10.85  0.67  35764  0.39  1500   7.2695
...        ...    ...   ...    ...   ...   ...      ...
005870   10174   6.31  0.62    994  0.00     0   3.9122
079980   14188  44.82  0.35    111  6.03   300  15.6870
005010   14549   7.19  0.44    898  2.48   160   3.1636
000540   10599   4.06  0.33    873  0.00     0   1.3398
003280     428  12.81  3.53    118  0.00     0  45.2193

[633 rows x 7 columns]

In [18]:
df['PER_PBR_RANK'] = df['PER*PBR'].rank()

In [19]:
df

           BPS    PER   PBR    EPS   DIV   DPS  PER*PBR  PER_PBR_RANK
티커
095570    8075   3.11  0.66   1707  5.08   270   2.0526         131.0
027410   16393   6.59  0.28    684  2.44   110   1.8452         116.0
282330   46849  21.63  3.95   8547  1.62  3000  85.4385         576.0
138930   28745   3.01  0.24   2341  7.95   560   0.7224          32.0
001460  577324  10.85  0.67  35764  0.39  1500   7.2695         343.0
...        ...    ...   ...    ...   ...   ...      ...           ...
005870   10174   6.31  0.62    994  0.00     0   3.9122         228.0
079980   14188  44.82  0.35    111  6.03   300  15.6870         443.0
005010   14549   7.19  0.44    898  2.48   160   3.1636         194.0
000540   10599   4.06  0.33    873  0.00     0   1.3398          76.0
003280     428  12.81  3.53    118  0.00     0  45.2193         554.0

[633 rows x 8 columns]

In [20]:
df.sort_values(by='PER_PBR_RANK', inplace=True)

In [21]:
df

           BPS      PER    PBR    EPS   DIV   DPS    PER*PBR  PER_PBR_RANK
티커
101140    2607     0.41   0.27   1753  0.00     0     0.1107           1.0
007700   49495     0.31   0.55  88031  0.62   170     0.1705           2.0
375500  194338     1.30   0.18  26903  7.74  2700     0.2340           3.0
013580   78914     1.11   0.25  17601  4.10   800     0.2775           4.0
088350   15004     1.73   0.17   1455  0.00     0     0.2941           5.0
...        ...      ...    ...    ...   ...   ...        ...           ...
005070    6831   114.57  10.13    604  0.00     0  1160.5941         629.0
207940   74551   137.27  10.82   5879  0.00     0  1485.2614         630.0
373220   39831   131.72  13.11   3963  0.00     0  1726.8492         631.0
336260    6332   327.36   5.48    106  0.00     0  1793.9328         632.0
077970   10271  6910.00   1.35      2  0.00     0  9328.5000         633.0

[633 rows x 8 columns]

In [25]:
"""
이름 추가하기
"""
names = []
for ticker in df.index:
    try:
        name = stock.get_market_ticker_name(ticker)
        names.append(name)
    except Exception as e:
        print(f' exception happens while getting name of ticker = {ticker}')
        print(e)
        names.append('N/A')

In [36]:
df.insert(0, 'NAME', names)

In [37]:
df

,NAME,BPS,PER,PBR,EPS,DIV,DPS,PER*PBR,PER_PBR_RANK
티커,,,,,,,,,
101140,인바이오젠,2607,0.41,0.27,1753,0.00,0,0.1107,1.0
007700,F&F홀딩스,49495,0.31,0.55,88031,0.62,170,0.1705,2.0
375500,DL이앤씨,194338,1.30,0.18,26903,7.74,2700,0.2340,3.0
013580,계룡건설,78914,1.11,0.25,17601,4.10,800,0.2775,4.0
088350,한화생명,15004,1.73,0.17,1455,0.00,0,0.2941,5.0
...,...,...,...,...,...,...,...,...,...
005070,코스모신소재,6831,114.57,10.13,604,0.00,0,1160.5941,629.0
207940,삼성바이오로직스,74551,137.27,10.82,5879,0.00,0,1485.2614,630.0
373220,LG에너지솔루션,39831,131.72,13.11,3963,0.00,0,1726.8492,631.0
336260,두산퓨얼셀,6332,327.36,5.48,106,0.00,0,1793.9328,632.0
077970,STX엔진,10271,6910.00,1.35,2,0.00,0,9328.5000,633.0

In [39]:
df.head(20)

,NAME,BPS,PER,PBR,EPS,DIV,DPS,PER*PBR,PER_PBR_RANK
티커,,,,,,,,,
101140,인바이오젠,2607,0.41,0.27,1753,0.00,0,0.1107,1.0
007700,F&F홀딩스,49495,0.31,0.55,88031,0.62,170,0.1705,2.0
375500,DL이앤씨,194338,1.30,0.18,26903,7.74,2700,0.2340,3.0
013580,계룡건설,78914,1.11,0.25,17601,4.10,800,0.2775,4.0
088350,한화생명,15004,1.73,0.17,1455,0.00,0,0.2941,5.0
000760,이화산업,52259,0.95,0.31,16817,0.00,0,0.2945,6.0
016610,DB금융투자,22133,1.54,0.20,2831,11.47,500,0.3080,7.0
003240,태광산업,4626787,1.96,0.16,377488,0.24,1750,0.3136,8.0
004960,한신공영,58000,2.17,0.16,4187,3.85,350,0.3472,9.0
012630,HDC,43552,2.87,0.14,2069,4.21,250,0.4018,10.0
005960,동부건설,24388,1.41,0.29,5103,12.53,900,0.4089,11.0
001750,한양증권,32750,1.50,0.29,6206,9.64,900,0.4350,12.0
000210,DL,173922,1.39,0.33,41881,3.27,1900,0.4587,13.0
017940,E1,226210,2.21,0.22,22789,4.37,2200,0.4862,14.0
003540,대신증권,39313,1.46,0.35,9323,10.30,1400,0.5110,15.0
139480,이마트,369202,1.83,0.28,56152,1.95,2000,0.5124,16.0
005810,풍산홀딩스,91007,1.63,0.32,17743,4.83,1400,0.5216,17.0
009410,태영건설,17753,2.20,0.24,1920,8.28,350,0.5280,18.0
002320,한진,84534,2.10,0.27,10804,2.65,600,0.5670,19.0
001270,부국증권,74017,2.25,0.26,8672,8.21,1600,0.5850,20.0

In [41]:
df_div = df.drop(df[df.DPS <= 0].index)

In [42]:
df_div.head(20)

,NAME,BPS,PER,PBR,EPS,DIV,DPS,PER*PBR,PER_PBR_RANK
티커,,,,,,,,,
007700,F&F홀딩스,49495,0.31,0.55,88031,0.62,170,0.1705,2.0
375500,DL이앤씨,194338,1.30,0.18,26903,7.74,2700,0.2340,3.0
013580,계룡건설,78914,1.11,0.25,17601,4.10,800,0.2775,4.0
016610,DB금융투자,22133,1.54,0.20,2831,11.47,500,0.3080,7.0
003240,태광산업,4626787,1.96,0.16,377488,0.24,1750,0.3136,8.0
004960,한신공영,58000,2.17,0.16,4187,3.85,350,0.3472,9.0
012630,HDC,43552,2.87,0.14,2069,4.21,250,0.4018,10.0
005960,동부건설,24388,1.41,0.29,5103,12.53,900,0.4089,11.0
001750,한양증권,32750,1.50,0.29,6206,9.64,900,0.4350,12.0
000210,DL,173922,1.39,0.33,41881,3.27,1900,0.4587,13.0
017940,E1,226210,2.21,0.22,22789,4.37,2200,0.4862,14.0
003540,대신증권,39313,1.46,0.35,9323,10.30,1400,0.5110,15.0
139480,이마트,369202,1.83,0.28,56152,1.95,2000,0.5124,16.0
005810,풍산홀딩스,91007,1.63,0.32,17743,4.83,1400,0.5216,17.0
009410,태영건설,17753,2.20,0.24,1920,8.28,350,0.5280,18.0
002320,한진,84534,2.10,0.27,10804,2.65,600,0.5670,19.0
001270,부국증권,74017,2.25,0.26,8672,8.21,1600,0.5850,20.0
082640,동양생명,19530,2.58,0.23,1768,13.58,620,0.5934,21.0
001940,KISCO홀딩스,68463,2.26,0.27,8106,2.18,400,0.6102,22.0
002030,아세아,491013,2.33,0.27,56785,2.27,3000,0.6291,23.0