In [1]:
import numpy as np
import pandas as pd
from scipy.signal import savgol_filter
from pykrx import stock
import matplotlib.pyplot as plt
import time
plt.rcParams['font.family'] = 'Malgun Gothic'

import kodivstock.divexcelanalyzer as dea

In [2]:
df = pd.read_excel('./data/PDF_DATA.xlsx')
df.head(3)

    종목코드       종목명  수량(주)     평가금액(원)  비중(%)  1주 수익률
0   5490  POSCO홀딩스     84  27,888,000   5.62    2.00
1  11780      금호석유    164  26,092,400   5.26   12.04
2   5940    NH투자증권  2,466  22,810,500   4.60   -2.22

In [3]:
df_result = df.iloc[:50, :2]
df_result.head(3)

    종목코드       종목명
0   5490  POSCO홀딩스
1  11780      금호석유
2   5940    NH투자증권

In [4]:
df_result.tail(3)

     종목코드    종목명
47  11790    SKC
48    490     대동
49  35420  NAVER

""" 배당 성장 분석하기 """

In [5]:
divExcelAnalyzer = dea.DivExcelAnalyzer('./data/tiger_divgrowth50_dps_data_2012_2021.xlsx')
tickers = divExcelAnalyzer.getTickers()
len(tickers)

50

In [6]:
""" 배당 성장 연수 구하기 """
div_growth_years = divExcelAnalyzer.getDivGrowthYears(tickers)
div_growth_years[:3]

[1, 6, 8]

In [7]:
df_result['Div Growth Years'] = div_growth_years
df_result.head(3)

    종목코드       종목명  Div Growth Years
0   5490  POSCO홀딩스                 1
1  11780      금호석유                 6
2   5940    NH투자증권                 8

In [8]:
df_result.tail(3)

     종목코드    종목명  Div Growth Years
47  11790    SKC                 8
48    490     대동                 3
49  35420  NAVER                 3

In [9]:
div_growth_rates_7 = divExcelAnalyzer.getDivGrowthRates(tickers, 7)
div_growth_rates_7[:3]

[0.11, 0.31, 0.31]

In [10]:
df_result['Div Growth Rates(7)'] = div_growth_rates_7
df_result.head(3)

    종목코드       종목명  Div Growth Years  Div Growth Rates(7)
0   5490  POSCO홀딩스                 1                 0.11
1  11780      금호석유                 6                 0.31
2   5940    NH투자증권                 8                 0.31

In [11]:
div_growth_rates_3 = divExcelAnalyzer.getDivGrowthRates(tickers, 3)
div_growth_rates_3[:3]

[0.19, 0.95, 0.28]

In [12]:
df_result['Div Growth Rates(3)'] = div_growth_rates_3
df_result.head(3)

    종목코드       종목명  Div Growth Years  Div Growth Rates(7)  Div Growth Rates(3)
0   5490  POSCO홀딩스                 1                 0.11                 0.19
1  11780      금호석유                 6                 0.31                 0.95
2   5940    NH투자증권                 8                 0.31                 0.28

In [13]:
""" 정수형 종목코드를 6자리 스트링으로 변환 """
tickers = df_result.종목코드.to_list()
print(len(tickers))
tickers_new = []
for ticker in tickers:
    """ 앞에 빈 자리는 0으로 채워서 6자리로 만든다. """
    tickers_new.append(str(ticker).zfill(6))
df_result.종목코드 = tickers_new
df_result

50

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3)
0,005490,POSCO홀딩스,1,0.11,0.19
1,011780,금호석유,6,0.31,0.95
2,005940,NH투자증권,8,0.31,0.28
3,016360,삼성증권,5,0.29,0.39
4,071050,한국금융지주,5,0.36,0.51
5,003540,대신증권,8,0.28,0.31
6,007070,GS리테일,4,0.10,0.23
7,001800,오리온홀딩스,4,-0.27,0.00
8,039490,키움증권,8,0.34,0.33
9,010130,고려아연,8,0.17,0.22
10,003550,LG,8,0.16,0.12
11,018670,SK가스,8,0.14,0.19
12,069260,TKG휴켐스,2,0.09,-0.06
13,023590,다우기술,8,0.24,0.20
14,000270,기아,1,0.17,0.49
15,001680,대상,8,0.15,0.13
16,000210,DL,2,0.52,0.04
17,001040,CJ,8,0.13,0.17
18,034730,SK,8,0.22,0.17
19,042700,한미반도체,0,-0.07,0.06
20,005930,삼성전자,0,-0.31,0.01
21,004000,롯데정밀화학,1,0.34,0.11
22,012330,현대모비스,8,0.04,0.00
23,084690,대상홀딩스,8,0.05,0.08
24,005440,현대그린푸드,8,0.20,0.00
25,007310,오뚜기,8,0.10,0.02
26,139480,이마트,8,0.04,0.00
27,086280,현대글로비스,8,0.10,0.05
28,120110,코오롱인더,3,0.15,0.13
29,003230,삼양식품,6,0.39,0.36
30,051900,LG생활건강,8,0.17,0.09
31,009240,한샘,8,0.09,0.09
32,036570,엔씨소프트,0,0.08,-0.01
33,000020,동화약품,3,0.12,0.14
34,026890,스틱인베스트먼트,8,0.17,0.29
35,097950,CJ제일제당,8,0.14,0.13
36,025540,한국단자,8,0.07,0.00
37,185750,종근당,6,0.03,0.04
38,069960,현대백화점,8,0.07,0.07
39,161890,한국콜마,7,0.15,0.08
40,024720,한국콜마홀딩스,8,0.14,0.08
41,009450,경동나비엔,8,0.24,0.22
42,014830,유니드,8,0.06,0.16
43,014680,한솔케미칼,8,0.20,0.21
44,011070,LG이노텍,5,0.43,1.15
45,003850,보령,3,-0.09,0.19
46,031430,신세계인터내셔날,0,-0.09,-0.29
47,011790,SKC,8,0.10,0.03
48,000490,대동,3,0.04,0.17
49,035420,NAVER,3,-0.06,0.18

In [14]:
df_result.to_excel('./data/tiger_divgrowth50_div_analyze_result.xlsx', index=False )

"""
result 파일 분석
"""

In [26]:
df_result = pd.read_excel('./data/tiger_divgrowth50_div_analyze_result.xlsx')
df_result.head(3)

    종목코드       종목명  Div Growth Years  Div Growth Rates(7)  Div Growth Rates(3)
0   5490  POSCO홀딩스                 1                 0.11                 0.19
1  11780      금호석유                 6                 0.31                 0.95
2   5940    NH투자증권                 8                 0.31                 0.28

In [27]:
""" 정수형 종목코드를 6자리 스트링으로 변환 """
tickers = df_result.종목코드.to_list()
print(len(tickers))
tickers_new = []
for ticker in tickers:
    """ 앞에 빈 자리는 0으로 채워서 6자리로 만든다. """
    tickers_new.append(str(ticker).zfill(6))
df_result.종목코드 = tickers_new
df_result.head(3)

50

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3)
0,005490,POSCO홀딩스,1,0.11,0.19
1,011780,금호석유,6,0.31,0.95
2,005940,NH투자증권,8,0.31,0.28

In [28]:
df_result.describe()

       Div Growth Years  Div Growth Rates(7)  Div Growth Rates(3)
count         50.000000            50.000000            50.000000
mean           5.720000             0.138200             0.174000
std            2.899965             0.156514             0.229596
min            0.000000            -0.310000            -0.290000
25%            3.000000             0.070000             0.042500
50%            8.000000             0.140000             0.130000
75%            8.000000             0.215000             0.217500
max            8.000000             0.520000             1.150000

In [29]:
df_divgrowth_over_7 = df_result.loc[df_result['Div Growth Years'] >= 7]
df_divgrowth_over_7.head(10)

      종목코드     종목명  Div Growth Years  Div Growth Rates(7)  Div Growth Rates(3)
2   005940  NH투자증권                 8                 0.31                 0.28
5   003540    대신증권                 8                 0.28                 0.31
8   039490    키움증권                 8                 0.34                 0.33
9   010130    고려아연                 8                 0.17                 0.22
10  003550      LG                 8                 0.16                 0.12
11  018670    SK가스                 8                 0.14                 0.19
13  023590    다우기술                 8                 0.24                 0.20
15  001680      대상                 8                 0.15                 0.13
17  001040      CJ                 8                 0.13                 0.17
18  034730      SK                 8                 0.22                 0.17

In [30]:
df_divgrowth_over_7.to_excel('./data/tiger_divgrowth50_7년이상배당성장.xlsx', index=False)

In [31]:
"""
7년 이상 배당 성장주를 7년 배당 성장률로 정렬 후 상위 20개 선택
"""
df_divgrowth_over_7_top20 = df_divgrowth_over_7.sort_values(['Div Growth Rates(7)'], ascending=False).head(20)
df_divgrowth_over_7_top20

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3)
8,039490,키움증권,8,0.34,0.33
2,005940,NH투자증권,8,0.31,0.28
5,003540,대신증권,8,0.28,0.31
13,023590,다우기술,8,0.24,0.20
41,009450,경동나비엔,8,0.24,0.22
18,034730,SK,8,0.22,0.17
43,014680,한솔케미칼,8,0.20,0.21
24,005440,현대그린푸드,8,0.20,0.00
34,026890,스틱인베스트먼트,8,0.17,0.29
9,010130,고려아연,8,0.17,0.22
30,051900,LG생활건강,8,0.17,0.09
10,003550,LG,8,0.16,0.12
15,001680,대상,8,0.15,0.13
39,161890,한국콜마,7,0.15,0.08
11,018670,SK가스,8,0.14,0.19
40,024720,한국콜마홀딩스,8,0.14,0.08
35,097950,CJ제일제당,8,0.14,0.13
17,001040,CJ,8,0.13,0.17
47,011790,SKC,8,0.10,0.03
27,086280,현대글로비스,8,0.10,0.05

In [32]:
"""
7년 이상 배당 성장주를 3년 배당 성장률로 정렬 후 상위 20개 선택
"""
df_divgrowth_over_7.sort_values(['Div Growth Rates(3)'], ascending=False).head(20)

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3)
8,039490,키움증권,8,0.34,0.33
5,003540,대신증권,8,0.28,0.31
34,026890,스틱인베스트먼트,8,0.17,0.29
2,005940,NH투자증권,8,0.31,0.28
9,010130,고려아연,8,0.17,0.22
41,009450,경동나비엔,8,0.24,0.22
43,014680,한솔케미칼,8,0.20,0.21
13,023590,다우기술,8,0.24,0.20
11,018670,SK가스,8,0.14,0.19
18,034730,SK,8,0.22,0.17
17,001040,CJ,8,0.13,0.17
42,014830,유니드,8,0.06,0.16
15,001680,대상,8,0.15,0.13
35,097950,CJ제일제당,8,0.14,0.13
10,003550,LG,8,0.16,0.12
30,051900,LG생활건강,8,0.17,0.09
31,009240,한샘,8,0.09,0.09
40,024720,한국콜마홀딩스,8,0.14,0.08
23,084690,대상홀딩스,8,0.05,0.08
39,161890,한국콜마,7,0.15,0.08

In [33]:
"""
7년 이상 배당 성장주 중 최근 3년 배당 성장률이 7년 성장률보다 높은 종목
"""
df_divgrowth_accelerated = df_divgrowth_over_7.loc[df_divgrowthyears['Div Growth Rates(3)']
                                                 > df_divgrowthyears['Div Growth Rates(7)']]
df_divgrowth_accelerated

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3)
5,003540,대신증권,8,0.28,0.31
9,010130,고려아연,8,0.17,0.22
11,018670,SK가스,8,0.14,0.19
17,001040,CJ,8,0.13,0.17
23,084690,대상홀딩스,8,0.05,0.08
34,026890,스틱인베스트먼트,8,0.17,0.29
42,014830,유니드,8,0.06,0.16
43,014680,한솔케미칼,8,0.20,0.21

In [24]:
df_divgrowth_accelerated.to_excel('./data/tiger_divgrowth50_배당성장PICK.xlsx', index=False)

"""
FIN
"""